<div class="keyboard-row">
    <button class=charKey data-key="a">a</button>
    <button class=charKey data-key="b">b</button>
    <button class=charKey data-key="c">c</button>
    <button class=charKey data-key="d">d</button>
    <button class=charKey data-key="e">e</button>
    <button class=charKey data-key="f">f</button>
    <button class=charKey data-key="g">g</button>
    <button class=charKey data-key="h">h</button>
    <button class=charKey data-key="i">i</button>
    <button class=charKey data-key="j">j</button>
</div>
<div class="keyboard-row">
    <div class="spacer-half"></div>
    <button class=charKey data-key="k">k</button>
    <button class=charKey data-key="l">l</button>
    <button class=charKey data-key="m">m</button>
    <button class=charKey data-key="n">n</button>
    <button class=charKey data-key="o">o</button>
    <button class=charKey data-key="p">p</button>
    <button class=charKey data-key="q">q</button>
    <button class=charKey data-key="r">r</button>
    <button class=charKey data-key="s">s</button>
    <div class="spacer-half"></div>
</div>
<div class="keyboard-row">
    <button class=big data-key="enter">Enter</button>
    <button class=charKey data-key="t">t</button>
    <button class=charKey data-key="u">u</button>
    <button class=charKey data-key="v">v</button>
    <button class=charKey data-key="w">w</button>
    <button class=charKey data-key="x">x</button>
    <button class=charKey data-key="y">y</button>
    <button class=charKey data-key="z">z</button>
    <button class=big data-key="del">Del</button>
</div>